
<ion-content [fullscreen]="true">
<h6>HouseProfile</h6>
<div>
  <img src="{{houseImage}}"/>
</div>
<ion-segment [(ngModel)]="selectedSegment">
  <ion-segment-button value="home">
    <ion-label>House Images</ion-label>
  </ion-segment-button>
</ion-segment>
<div *ngIf="selectedSegment === 'home'">
  <ion-grid>
    <!-- Row 1 -->
    <ion-row>
      <ion-col size="5" *ngFor="let z of DisplayImages">
        <img src="{{z.houseImage}}"/>
        <ion-button id="IconButton" (click)="deleteHouse(z)" fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="GoToUpload()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
