
<ion-content [fullscreen]="true">
<h6>HouseProfile</h6>
<div>
  <img src="{{houseImage}}"/>
</div>
<ion-segment [(ngModel)]="selectedSegment">
  <ion-segment-button value="home">
    <ion-label>House Images</ion-label>
  </ion-segment-button>
</ion-segment>
<div *ngIf="selectedSegment === 'home'">
  <p>This is the Home section.</p>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="GoToUpload()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
