h6{
    font-size: 1.5em;
    color:#816965;
    font-weight: 300 !important;
    text-align: center;
}
.container{
    text-align: center;
}
ion-button{
    // width:300px;
}
.ButtonToGoBack{
    margin-right:100px;
}
#UploadHouseImages{
    width:300px;
}