.container {
    text-align: center;
    ion-button {
        min-width: 80%;
    }

    #img {
        height: 180px;
        width: 180px;
    }

    ion-input {
        border: 2px solid #816965;
        margin: 7px auto;
        border-radius: 100px;
        color: rgb(156, 151, 151);
    }

    .input {
        width: 90%;
        margin: 5px auto;
    }

    h3 {
        padding: 20px;
        font-size: 0.9em;
        color: #816965;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h5 {
        color: lightgray;
    }
    a{
        color:#8CA22F;
    }
    h4{
        color:#F69036;
    }
    .field-error {
        color: red;
    }
}